@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    font-family: "Montserrat", sans-serif;
}

// Variables

$main-color: #440784;
$main-color-text: #a5a2a7;

$text-over-image: #ffffff;

body {
    margin: 0;
}