//  Under construction theme layout
.under-construction {
    text-align: center;
    align-content: center;
    font-size: 18px;

    .construction-bg {
        background: url("/assets/img/under-construction.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 1000px;
    }

    .construction-message {
        position: fixed;    
        color: $text-over-image;
        margin-top: 3%;
        margin-left: 25%;
        .site-url {
            background: none;
            border: none;
            box-sizing: border-box;
            margin: 10px;
            padding: 10px 20px;
            box-shadow: inset 0 0 0 2px $main-color;
            color: $main-color;
            font-size: inherit;
            font-weight: 700;
        }
    }
}

// Contact and social list
.social-media-list {
    padding: 0;

    .social-github {
        @include icon-color(black);
    }

    .social-stack-overflow {
        @include icon-color(#e36e14);
    }

    .social-twitter {
        @include icon-color(#6363ff);
    }

    .social-rss {
        @include icon-color(orange);
    }

    .social-mail {
        @include icon-color(#ff0000);
    }

    .social-gitter {
        @include icon-color(#c80d77);
    }

    li {
        padding: 0 4px 0 4px;
        display: inline;
    }
}
