//  Under construction theme layout

.under-construction {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    .construction-message {
        .site-url {
            border: 3px solid $main-color;
            color: $main-color;
            padding: 0;
            font-weight: bold;
            
        }
    }
}

// Contact and social list
.social-media-list {
    padding: 0;

    @include icon-color(darken($main-color, 1));
    
    // .social-github {
    //     @include icon-color(black);
    // }

    // .social-stack-overflow {
    //     @include icon-color(#e36e14);
    // }

    // .social-twitter {
    //     @include icon-color(#6363ff);
    // }

    // .social-rss {
    //     @include icon-color(orange);
    // }

    // .social-mail {
    //     @include icon-color(#ff0000);
    // }

    // .social-gitter {
    //     @include icon-color(#c80d77);
    // }

    li {
        padding: 0 4px 0 4px;
        display: inline;
    }
}
